<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MovCotação</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css"/>
  </head>
  <body>
    <nav class="mobileMenu">
      <button id="closeMenu" type="button">
        <i class="fas fa-times"></i>
      </button>

      <ul>
        <li>
          <a href="/lista">Lista de Cotação</a>
        </li>
        <li>
          <a href="#">Contato</a>
        </li>
        <li>
          <a href="#">Ajuda</a>
        </li>
        <li>
          <a href="/logout">Sair</a>
        </li>
      </ul>
    </nav>

    <section class="quotation">
      <header>
        <h1>Cotação Online</h1>

        <button id="openMenu" class="menuBars" type="button">
          <i class="fas fa-bars"></i>
        </button>

        <div>
          <form id="search">
            <input type="text" placeholder="Buscar no site"/>
            <button type="submit">
              <i class="fas fa-search"></i>
            </button>
          </form>

          <nav>
            <ul>
              <li>
                <a href="/lista">Lista de Cotação</a>
              </li>
              <li>
                <a href="#">Contato</a>
              </li>
              <li>
                <a href="#">Ajuda</a>
              </li>
              <li>
                <a href="/logout">Sair</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>

      <section>
        <div class="background"></div>

        <article>
          <header>
            <div class="profile">
              <img src="/img/noprofile.jpg" alt="No Profile" />

              <div class="profileInfo">
                <strong>{{ company['nome_fantasia'] }}</strong>
                <p>
                  <i class="fas fa-phone-alt"></i>
                  <span>{{ company['telefone'] }}</span>
                </p>
                <p>
                  <i class="fab fa-whatsapp"></i>
                  <span>{{ company['whatsapp'] }}</span>
                </p>
                <p>
                  <i class="far fa-envelope"></i>
                  <span>{{ company['email'] }}</span>
                </p>
              </div>
            </div>

            <div class="quotationNumber">
              <strong>COTAÇÃO - N°</strong>
              <div>
                <p>{{ listQuotesOpening[0]['numero_cotacao'] }}</p>
              </div>
            </div>

            <div class="dates">
              <div>
                <p>Data de Abertura</p>
                <div class="opening">
                  <img src="/svg/calenderGreen.svg" alt="Calendario icone" />
                  <p>{{ listQuotesOpening[0]['data_abertura'] }}</p>
                </div>
              </div>

              <div>
                <p>Data de Fechamento</p>
                <div class="closing">
                  <img src="/svg/calenderRed.svg" alt="Calendario icone" />
                  <p>{{ listQuotesOpening[0]['data_validade'] }}</p>
                </div>
              </div>
            </div>
          </header>

          <div class="quotes">
            <table>
              <thead>
                <tr>
                  <th>Cód. SKU</th>
                  <th>Cód. Produto</th>
                  <th>Cód. Referência</th>
                  <th>Desc. Produto</th>
                  <th>Qtd. a Comparar</th>
                  <th>Oferta (R$)</th>
                  <th>Observação</th>
                </tr>
              </thead>

              <tbody>
                {% for quote in listQuotesOpening %}
                  <tr>
                    <td data-label="Cód. SKU">
                      <div>{{quote['id_sku']}}</div>
                    </td>
                    <td data-label="Cód. Produto">
                      <div>{{quote['id_produto']}}</div>
                    </td>
                    <td data-label="Cód. Referência">
                      <div>{{quote['id_referencia']}}</div>
                    </td>
                    <td data-label="Desc. Produto">
                      <div>{{quote['descricao_produto']}}</div>
                    </td>
                    <td data-label="Qtd. a Comparar">
                      <div>{{quote['quantidade_produto']}}</div>
                    </td>
                    <td data-label="Oferta (R$)">
                      <div class="inputContainer">
                        <input type="text" placeholder="0,00" />
                      </div>
                    </td>
                    <td data-label="Observação">
                      <div class="inputContainer">
                        <input type="text" placeholder="Texto de observação" />
                      </div>
                    </td>
                  </tr>
                {% else %}
                  <strong>Nenhum item para ser cotado</strong>
                {% endfor %}
              </tbody>
            </table>

            <div class="pagination">
              <button>
                <span>Anterior</span>
                <i class="fas fa-caret-left"></i>
              </button>

              <p>Página 01</p>

              <button>
                <span>Próxima</span>
                <i class="fas fa-caret-right"></i>
              </button>
            </div>

            <div class="btn_group">
              <button>Salvar</button>
              <button>Enviar cotação</button>
            </div>
          </div>
        </article>
      </section>
    </section>

    <script
      src="https://kit.fontawesome.com/c1f9e19d38.js"
      crossorigin="anonymous"
    ></script>

    <script>
      document.getElementById('openMenu').addEventListener('click', () => {
        document.querySelector('.mobileMenu').style.display = 'flex';
      });

      document.getElementById('closeMenu').addEventListener('click', () => {
        document.querySelector('.mobileMenu').style.display = 'none';
      });
    </script>
  </body>
</html>
