<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MovCotação</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css"/>
  </head>
  <body>
    <div class="appContainer">
      <div class="loginContainer">
        <header>
          <h1>MovCotação</h1>
        </header>

        <strong>Login</strong>

        <form id="signIn">
          <input
            type="text"
            name="user"
            placeholder="Usuário, Email ou CPF/CNPJ"
            required
          />

          <input
            type="password"
            name="password"
            placeholder="Senha"
            required
          />

          <button
           type="submit"
          >
            Entrar
          </button>

          <p class="errorMessage"></p>
        </form>

        <p>
          <a href="#">Esqueceu sua senha? Clique aqui</a>
        </p>
      </div>
    </div>

    <script>
      async function signIn(user, password) {
        const errorMessage = document.querySelector('p.errorMessage');
        errorMessage.style.display = 'none';

        const url = window.location.origin;

        const body = {
          user,
          password
        };

        const response = await fetch('http://localhost:8080/api/users/authenticate', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(body),
        });

        if (response.status !== 200) {
          errorMessage.innerText = data.message;
          errorMessage.style.display = 'block';
          return;
        }

        window.location.href = '/lista';
      }

      document.getElementById('signIn').addEventListener('submit', event => {
        event.preventDefault();

        const form = document.forms['signIn'];
        const user = form['user'].value;
        const password = form['password'].value;

        signIn(user, password);
      });
    </script>
  </body>
</html>
