<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MovCotação</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css"/>
  </head>
  <body>
    <nav class="mobileMenu">
      <button id="closeMenu" type="button">
        <i class="fas fa-times"></i>
      </button>

      <ul>
        <li>
          <a href="#">Contato</a>
        </li>
        <li>
          <a href="#">Ajuda</a>
        </li>
        <li>
          <a href="/logout">Sair</a>
        </li>
      </ul>
    </nav>

    <section class="quotation">
      <header>
        <h1>Cotação Online</h1>

        <button id="openMenu" class="menuBars" type="button">
          <i class="fas fa-bars"></i>
        </button>

        <div>
          <form id="search">
            <input type="text" placeholder="Buscar no site"/>
            <button type="submit">
              <i class="fas fa-search"></i>
            </button>
          </form>

          <nav>
            <ul>
              <li>
                <a href="#">Contato</a>
              </li>
              <li>
                <a href="#">Ajuda</a>
              </li>
              <li>
                <a href="/logout">Sair</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>


      <section>
        <div class="background"></div>
        <article>
          <h2>Lista de cotações</h2>
          <div class="list">
            {% for quotation in listQuotesOpening %}
              <a href="/cotacao/{{ quotation['numero_cotacao'] }}">
                <p>
                  <strong>Número Cotação: </strong>
                  <span>{{ quotation['numero_cotacao'] }}</span>
                </p>

                <p>
                  <strong>Empresa: </strong>
                  <span>{{ quotation['comprador'] }}</span>
                </p>

                <p>
                  <strong>Data Abertura: </strong>
                  <span>{{ quotation['data_abertura'] }}</span>
                </p>

                <p>
                  <strong>Data Fechamento: </strong>
                  <span>{{ quotation['data_validade'] }}</span>
                </p>
              </a>
            {% else %}
              <strong>Nenhum item para ser cotado</strong>
            {% endfor %}
          </div>
        </article>
      </section>
    </section>

    <script
      src="https://kit.fontawesome.com/c1f9e19d38.js"
      crossorigin="anonymous"
    ></script>

    <script>
      document.getElementById('openMenu').addEventListener('click', () => {
        document.querySelector('.mobileMenu').style.display = 'flex';
      });

      document.getElementById('closeMenu').addEventListener('click', () => {
        document.querySelector('.mobileMenu').style.display = 'none';
      });
    </script>
  </body>
</html>
